<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.unis.gmweb.mapper.TreeMapper">

	<select id="findHtTree" resultMap="treeMP">
		SELECT q_id,q_name FROM
		xj_qy_big WHERE z_id=(SELECT z_id FROM xj_zl_big WHERE
		z_name=#{lineName}) AND q_name LIKE '%火'
	</select>
	<resultMap type="Tree" id="treeMP" autoMapping="true">
		<result property="qid" column="q_id" />
		<result property="qname" column="q_name" />
	</resultMap>
	<select id="findHtRealTimeTree" resultMap="realTimeTreeMP">
		SELECT q_id,q_name,parent_id FROM
		xj_qy_big WHERE z_id=(SELECT z_id FROM xj_zl_big WHERE
		z_name=#{lineName}) AND q_name LIKE '%火'
	</select>
	<resultMap type="HtRealTimeTree" id="realTimeTreeMP" autoMapping="true">
		<result property="qyid" column="q_id" />
		<result property="qyName" column="q_name" />
		<result property="parentId" column="parent_id"/>
	</resultMap>

	<select id="findQdlRealTimeTree" resultMap="qdlRealTimeTreeMP">
		SELECT q_id,q_name,parent_id FROM
		xj_qy_big WHERE z_id=(SELECT z_id FROM xj_zl_big WHERE
		z_name=#{lineName}) AND q_name LIKE '%全'
	</select>
	<resultMap type="QdlRealTimeTree" id="qdlRealTimeTreeMP" autoMapping="true">
		<result property="qyid" column="q_id" />
		<result property="qyName" column="q_name" />
		<result property="parentId" column="parent_id"/>
	</resultMap>


</mapper>